<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/index.css">

<body>
    <div class="cointainer">
<div class="nav">
<%-include('./nav.ejs') %>
</div>
<div class="home">
<h1>Home</h1>
   
        <div>
            <img class="img4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4oCVU9GR_vAe88Zygujl8aBeojEUjahsQMw&usqp=CAU" alt="">

        </div>
 
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, minus impedit dolor nulla facilis beatae dicta. Illo itaque cumque quae nisi impedit cum? Perspiciatis doloremque exercitationem mollitia ab eius repudiandae eveniet quidem libero tempora. Non veniam animi dolorem ipsa deserunt facilis quae eligendi fugit illo perferendis ducimus, debitis repellat in alias autem recusandae ut esse quas quisquam consectetur. Odit quo dolore rerum, nesciunt quidem rem doloribus vero. Nostrum nemo laborum ab itaque aperiam quod, ex illum est alias labore natus in sit culpa eaque magnam aliquam molestias tempore. Tempora blanditiis saepe ullam voluptatibus sequi iusto commodi, illo repellat ea aliquid.</p>


 <br>
 <br>
 <br>
 <br>
 <br>
 <button>hire me</button>
<button>know more</button>
</div>

    </div>
</body>
</html>